html
{
    font-family: 'Times New Roman', Times, serif;
    text-align: left;

    
}
body{
    background-color: aliceblue;
    background-size: cover;
    margin: 2px;
}

* {
    box-sizing: border-box;
}

/*****************skip link***********************************/
.skiplink{
    position: absolute;
    
    left: 0;
    padding: 8px;
    color: rgb(17, 0, 255);
        z-index: 100;
}


.skiplink :focus{
    top: 80px;
    color: black;
}



::selection{
background-color: greenyellow;
color: black;
}

.caps{
    font-variant: small-caps;
    font-size: 20px;
    }

.container{
margin: 0, auto;
width: 99.7%;
/*max-width: 1000px;*/
}


/* style the links */
a:link {
    color: rgb(17, 0, 255);
    text-decoration: underline;
    font-weight: bold;
    
}

a:hover, 
a:focus {
    background-color: aqua;
    color: black;
}

.foc:focus
{
    color: black;
}
/***To add the image on the Contact Us page**/
.bkgrnd {
    background-image: url("../contactus.jfif");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: none ;
    border-style: double;
    background-color: rgb(211, 212, 240);
    padding-bottom: 50px;
    padding-top: 20px;

    }

h2{
    font-size: 25px;
    color:rgb(3, 26, 128);
    margin-bottom: 0px;
    font-style: italic;
    font-weight: bold ;
    margin-left: 15px;
    
}

/* for the bold characters */
.bold {
    font-weight: bold;
    margin-left: 15px;
    }

.bold1{
    font-weight: bold;
    font-style: italic;
    margin-left: 8px;
    }

/*style the images and paragraph around it*/
.angel img{
    border-image: 2px solid black;
    padding-right: 30px;
    width: 200px;
    margin-left: 20px;
    float: left;
    }

.angel {
    padding-top: 10px;
    padding-bottom: 60px;
    float: left;
    clear: both;
    }


.clearfix{
    overflow: auto;
    width: 100%;
    text-align: left;
    margin-bottom: 10px;
}

/*style the glowfish page*/
.glofish img{
    float: right;
    padding-left: 0px;
    max-width: 250px;
    margin-right: 30px;
    padding-top: none;
    padding-bottom: 10px;   
    
}


/*style the index page images*/
.index{
    float: left;
    height: 300px;
    width: 33.33%;
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 0px;

    
}

.clearfix::after{
    content: "";
    clear: both;
    display: table;
}

/* All paragraphs*/
p{
    font-size: 16px;
    margin-left: 15px;
    line-height: 1.2;
    margin-top: 10px;
    margin-bottom: 5px;
}




.highlight
{
    background-color: aqua;
    font-size: larger;
    
}


/* style the navigation bar*/
.navigation a
{
float:left;
padding: 16px 16px;
color: aliceblue;
text-align: center;
text-decoration: none;
margin-left: 40px;
font-size: 18px;

}

.navigation{
   
overflow: hidden;
background-color: blue;
margin: 0px 0px;
padding: 10px 10px;

}

.navigation a:hover, .navigation a:focus, .navigation1 a:hover, .navigation1 a:focus
{
    background-color: aqua;
    color: black;
    text-decoration: underline;
   /* padding: 10px 10px;*/
}

.navigation li, .navigation1 li
{
    list-style: none;
}

/* to implement the main heading with background*/
.heading1{
    text-align: left;
        color: white;
    background-image: url("../background.jfif");
    opacity: 0.8;
    padding: 20px 20px;
    border: 10px none red;
    margin-left: none;
    margin-top: 10px;
    margin-bottom: 5px;
    background-position: cover;
    font-size: 30px;
    text-transform: capitalize;
    
    }
    
/* style the Glofish page navigation bar*/
.navigation1 a
{
float:left;
display: block;

text-align: left;
text-decoration: none;
margin-left: 20px;
color: black;
margin-right: 60px;
font-size: 1.2em;
padding-top: 5px;
padding-bottom: 5px;
}

.navigation1{
overflow: hidden;
background-color: rgb(202, 202, 214);
padding-bottom: 20px;
}


/* style the about us image*/
.author{
    margin-top: 8px;
    width: 150px;
    float: left;
    padding-right: 20px;
    border-image-width: 2px;
    margin-left: 15px;
    }

/******************* form styling*****************************************/
fieldset{
    border: 2px solid rgb(66, 62, 62);
    text-align: left;
    padding-bottom: 30px;
    margin-left: 25px;
    margin-right: 25px;
}

form{
    margin-top: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
}

legend{
    text-align: center;
    font-weight: bold;
    margin: auto;
}

input[type=text], [type=email], [type=tel], [type=password]
{
    max-width: 350px;
    padding: 12px 5px;
    height: 30px;
    margin-left: 5px;
    margin-top: 5px;
    box-sizing: border-box;
    font-weight: bold;
     
}

#comment:focus, input[type=text]:focus, [type=checkbox]:focus, [type=email]:focus, [type=tel]:focus
{
    background-color: aquamarine;
    color: black;
}



.button{
   padding: 0.5em;
    text-align: center;
    margin-top: 10px;
     }

label{
    font-weight: bold;
    font-style: italic;
    margin-top: 5px;
}

.break{
    content: "";
    clear: both;
    display: block;
}

/***********************table styling*********************************/
table, tr, th, td {
    border: 2px solid rgb(0, 0, 0);
    border-collapse: collapse;
    margin-left: 10px;
    max-height: 30px;
    /*vertical-align: bottom;*/
    }

tr {
    text-align: left;
}

tr:hover{
    background-color: aquamarine;
    }

tr:nth-child(even)
{background-color: lightblue;}
table{
    padding-top: 20px;
    margin-bottom: 50px;
    margin-top: 20px;
}

th, td{
    padding-left: 2px;
    text-align: left;
}

.tab2{
    background-color: rgb(104, 104, 211);
    color: white;
    text-align: center;
}
#SomeFacts{
    padding-bottom: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.cap1{
    margin-bottom: 20px;
    background-color: rgb(64, 133, 179);
    font-size: 30px;
    text-align: center;
    color: whitesmoke;
    
}

/*************************************platy page**********************/
.particle{
max-width: 35%;
float:left;
overflow-block: none ;
}

.display{
    margin-left: 0px;
}
.paside{
    max-width: 35%;
    float: right;
}

.paside p{
    font-weight: bold;
}

.trivia{
    clear: both;
}


label{
    margin-top: 10px;
    line-height: 25px;
    margin-bottom: 20px;
    white-space: 10px;

}

.mar1{
    margin-left: 15px;
}

.platyfish img{
    float: right;
    padding-left: 5px;
    max-width:90%;
    margin: auto;
    padding-top: none;
    padding-bottom: 10px;
    padding-right: 5px;
}

/*Botttom left button navigation*/
.buttonnav a:link{
    color: rgb(0, 0, 0);
    padding: 8px 8px;
    margin-left: 20px;
    margin-bottom: 100px;
    margin-top: 50px;
    float: left;
   }

   .point{
       cursor: pointer;
   }
/*Botttom right button navigation*/
.buttonnav1 a:link{
    color: rgb(0, 0, 0);
    padding: 8px 8px;
    float: right;
    margin-bottom: 100px;
    margin-top: 50px;
    margin-right: 20px;     
}

/**** For the footer of the pages*****/
footer
{
    text-align: center;
    background-color: rgb(0, 0, 255);
    color: rgb(255, 255, 255);
    display: block;  
    clear: both;
    margin-bottom: 40px;
    padding: 30px;
    font-weight: bold;
       
}




/********************PLATY FISH PAGE*****************************/
.flex-container{
    display: flex;
    flex-wrap: nowrap;
    }

.flex-container .box{
    width: 50%;
    background-color: bisque;
    margin: 10px;
    text-align: left;
    padding-left: 10px;
    padding-bottom: 1em;
}

.platyimg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
    max-height: 450px;
    
}
.color{
    background-color: rgb(197, 202, 197);
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/*color of the font displayedin the quiz*/
.pl{
    font-weight: bold;
    margin-bottom: 8px;
    margin-top: 8px;
    margin-left: 0px;
    padding: 5px;
    background-color: blue;
    color: white;
}

/*display for the paragraph when div is hovered*/
p.pll{
    display: none;
    background-color: rgb(213, 224, 226);
    padding: 10px;
    color: black;
}

div.pl:hover p{
    display:flex;
    }

/********************INDEX PAGE*****************************/
#time{
    text-align: left;
    font-weight: bold;
    padding-left: 0px;
    margin-left: 20px;
    position: absolute;
    margin-top: 120px;
    font-size: 15px;
     
    }

.help
{
    color: white;
    margin-left: 5px;
    border: 1px dotted black;
    font-feature-settings: "sups";
    background-color: black;
}



#user{
    background-color: white;
    width: fit-content;
    color: black;
    font-size: large;
    text-align: right;
    
    text-decoration: underline;
}

/***********************Login page***********************/
#remember{
    margin: 1em 0.5em;
}

/********************List tem on Angel Fish*******************/
.space{
    margin: 10px;
}

